<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <!-- Cargar archivos de más de 4mb, agregar maxRequestLength y executionTimeout -->
    <httpRuntime targetFramework="4.5" maxRequestLength="8192" executionTimeout="3600"/>
  </system.web>
  <connectionStrings>
    <add name="cone" connectionString="Data source= xxx.xxx.xx.xx ; Initial Catalog= Nombre de la BD ;  User ID= Usuario de la BD ; Password= Contraseña del usuario de la BD ; MultipleActiveResultSets=True; Connection Timeout=100" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="8388608" />
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <add value="Inicio.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>